<div class="tui-space_top-6 hide"></div>
<div tuiCardLarge tuiSurface="flat" textAlign="center" class="tui-space_horizontal-6">
  <div tuiHeader class="header-contents">
    <div>
      <img src="assets/icons/icon-72x72.png" />
      <p class="tui-text_h4">Movies Watch List</p>
    </div>
    <tui-input *tuiLet="movies$ | async as movies" tuiTextfieldIcon="@tui.search" [formControl]="search">
      Search
      <input (keypress)="onKeypressEvent($event)" tuiTextfieldLegacy placeholder="Search for a movie you want to add" />
      <ng-container *ngIf="movies?.length && showDropdown">
        <tui-data-list *tuiDataList>
          <button *ngFor="let movie of movies" tuiOption [value]="movie[0]" (click)="onSelected(movie[0])">
            <tui-avatar [src]="movie[2] | tuiFallbackSrc : (movie[1] | tuiInitials) | async" [round]="false" new
              size="xxl" class="avatar"></tui-avatar>
            <div class="movie-name-release-date">
              <span class="tui-text_h4">{{ movie[0] }}</span>
              <span class="tui-text_h5">{{ movie[1] }}</span>
            </div>
          </button>
        </tui-data-list>
      </ng-container>
    </tui-input>
    <button tuiButton size="l" appearance="destructive" iconStart="@tui.log-out" (click)="logout()">
      Logout
    </button>
  </div>
</div>