@import "@taiga-ui/core/styles/taiga-ui-local.less";

.hide {
  display: inline-block;
}

.header-contents {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  @media @tui-mobile {
    flex-direction: column;
    align-items: stretch;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: fit-content;

    * {
      margin-right: 1.5rem;
    }

    @media @tui-tablet {
      p {
        font: var(--tui-font-heading-6);
      }
    }

    @media @tui-mobile {
      justify-content: center;
      p {
        display: none;
      }
    }
  }

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    nav[tuiTabBar] a {
      cursor: pointer;
    }
  }

  tui-input {
    width: 100%;
    margin-right: 1.5rem;
    max-width: 650px;
    @media @tui-mobile {
      margin-bottom: 1.5rem;
    }
  }
}

.avatar {
  margin: 0 0.25rem * 2 0 0;
  flex-shrink: 0;
}

.movie-name-release-date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
