<div tuiCardLarge tuiSurface="flat">
  <div class="movie-card">
    <div class="poster-with-icon">
      <a href="https://www.themoviedb.org/movie/{{ movie.movie_id }}" target="_blank" rel="noopener noreferrer">
        <img srcset="{{ imageBaseUrl }}w185{{ movie.image }} 185w,
                  {{ imageBaseUrl }}w300{{ movie.image }} 300w" alt="{{ movie.title }}"
          sizes="(max-width: 47.9625em) 185px, 300px" />
      </a>
      <button appearance="accent" (click)="showDeleteDialog(template)" iconStart="@tui.trash-2" size="m" tuiIconButton
        [style.border-radius.%]="100"
        style="position: absolute; top: 10px; right: 10px; border: none; padding: 10px; cursor: pointer; border-radius: 100%;">
        Delete
      </button>
      @if (!movie.downloaded) {
      <button appearance="primary" (click)="markMovieAsDownloaded()" iconStart="@tui.download" size="m" tuiIconButton
        [style.border-radius.%]="100"
        style="position: absolute; top: 10px; left: 10px; border: none; padding: 10px; cursor: pointer; border-radius: 100%;">
        Downloaded
      </button>
      }
      @if (movie.downloaded && !movie.watched) {
      <button appearance="primary" (click)="markMovieAsWatched()" iconStart="@tui.eye" size="m" tuiIconButton
        [style.border-radius.%]="100"
        style="position: absolute; top: 10px; left: 10px; border: none; padding: 10px; cursor: pointer; border-radius: 100%;">
        Watched
      </button>
      }
    </div>
    <div>
      <p class="tui-text_h6">
        {{ movie.title }}&nbsp;<tui-icon icon="@tui.copy" (click)="copyMovieTitle(movie.title)"></tui-icon>
      </p>
    </div>

    @if (movie.release_date !== null && !movie.downloaded && !movie.watched) {
    <footer>
      <tui-chip class="tui-space_bottom-4" size="m" [appearance]="chipAppearance">
        {{ movie.release_date | date : 'dd MMM yyyy' }}
      </tui-chip>
    </footer>
    }
    @if (movie.watched) {
    <footer>
      <label>
        Rate Movie
        <tui-rating class="rating" [(ngModel)]="rating" (ngModelChange)="onRatingChange($event)" />
      </label>
    </footer>
    }

  </div>
</div>

<ng-template #template let-observer>
  <p class="tui-text_h3">Delete Movie</p>
  <p class="tui-text_h5">Do you want to remove movie from your watch list?</p>
  <button tuiButton type="button" size="m" class="tui-space_right-3" (click)="deleteMovie()">
    Yes
  </button>
  <button tuiButton type="button" size="m" (click)="observer.complete()">
    No
  </button>
</ng-template>
