@import "@taiga-ui/core/styles/taiga-ui-local";

[tuiCardLarge][data-space][data-space="normal"] {
  --t-padding: 0;
  height: 100%;
}

.image-container {
  position: relative; /* Establishes a positioning context for the button */
  display: inline-block; /* Ensure the container only takes up as much space as the image */

  img {
    display: block; /* Remove any unwanted space below the image */
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 300px;

  @media @tui-mobile {
    width: 185px;
  }

  img {
    border-radius: var(--tui-radius-xl) var(--tui-radius-xl) 0 0;
  }

  p {
    padding: 16px;
  }

  tui-chip {
    font: var(--tui-font-heading-5);
  }

  tui-icon {
    cursor: pointer;
  }

  div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    text-align: center;
    padding: 16px;
  }
}
