@import '~@taiga-ui/core/styles/taiga-ui-local';

.login-section {
  height: 100vh;
  background: var(--tui-neutral-bg);
  color: var(--tui-text-01);
  display: flex;
  justify-content: center;
  align-items: center;
}

.releases-section {
  height: 100vh;
  color: var(--tui-text-01);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  @media @tui-mobile {
    display: none;
  }
}

.logo {
  display:flex;
  justify-content: center;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.image-gallery>li {
  position: relative;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}
