<div tuiCardLarge tuiAppearance="floating" textAlign="center">
  <header tuiHeader>
    <h2 tuiTitle>Movies Suggestions</h2>
  </header>

  <section>
    @if ((moviesSuggestions$ | async); as moviesSuggestions) {
      @for (movie of moviesSuggestions; track movie) {
        <div tuiCardLarge tuiAppearance="neutral">
          <div class="movie-card">
            <a href="https://www.themoviedb.org/movie/{{ movie.id }}" target="_blank" rel="noopener noreferrer">
              <img src="{{ imageBaseUrl }}w185{{ movie.poster_path }} 185w" alt="{{ movie.title }}" />
            </a>
            <div style="overflow: hidden;">
              <p class="tui-text_h6">
                {{ movie.title }}
              </p>
            </div>
            <footer>
              <button tuiButton [disabled]="isMovieAlreadyInWatchList(movie.id)" (click)="addMovieToWatchList(movie)">
                Add to watch list
              </button>
            </footer>
          </div>
        </div>
      }
    } @else {
      <tui-loader size="xxl"></tui-loader>
    }
  </section>
</div>