@import "~@taiga-ui/core/styles/taiga-ui-local";

.root {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  @media @tui-mobile {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

[tuiCardLarge][data-space][data-space="normal"] {
  --t-padding: 0;
}

.section {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;

  @media @tui-mobile {
    flex-flow: row nowrap;
    overflow: scroll;
    gap: 5px;
    padding-bottom: 16px;
  }

  tui-loader {
    margin: 0 auto;
    padding: 48px;
  }

  &-title {
    font: var(--tui-font-heading-1);

    @media @tui-tablet {
      font: var(--tui-font-heading-3);
    }

    @media @tui-mobile {
      font: var(--tui-font-heading-5);
    }
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 300px;

  @media @tui-mobile {
    width: 185px;
  }

  img {
    border-radius: var(--tui-radius-xl) var(--tui-radius-xl) 0 0;
  }

  p {
    padding: 16px;
  }

  tui-chip {
    font: var(--tui-font-heading-5);
  }

  tui-svg {
    cursor: pointer;
  }

  tui-icon {
    cursor: pointer;
  }

  button {
    margin: 0;
    width: 100%;
  }

  div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    text-align: center;
    padding: 16px;
  }
}

.footer {
  text-align: center;
  margin-top: 1.5rem;
  background: var(--tui-neutral-bg);
  padding: 16px;

  @media @tui-mobile {
    display: none;
  }
}
