<app-header></app-header>

<div class="root">
  <p class="section-title">
    Released on DVD ({{ ((released$ | async)?.length || 0) + ((coming$ | async)?.length || 0) }})
  </p>
  <div class="section">
    <app-movie-card *ngFor="let movie of released$ | async; else: loading" [movie]="movie"
      (refetchWatchlist)="fetchWatchList()"></app-movie-card>
    <app-movie-card *ngFor="let movie of coming$ | async; else: loading" [movie]="movie"
      (refetchWatchlist)="fetchWatchList()"></app-movie-card>
    <ng-template #loading>
      <tui-loader size="xxl"></tui-loader>
    </ng-template>
  </div>

  <p class="section-title">
    Unknown Release Date ({{ (unknown$ | async)?.length }})
  </p>
  <div class="section">
    <app-movie-card *ngFor="let movie of unknown$ | async; else: loading" [movie]="movie"
      (refetchWatchlist)="fetchWatchList()"></app-movie-card>
    <ng-template #loading>
      <tui-loader size="xxl"></tui-loader>
    </ng-template>
  </div>
  <p class="footer">
    <a href="https://www.themoviedb.org">
      <img src="assets/tmdb.png" alt="Powered by TMDb" />
    </a>
    <br />
    This product uses the
    <a href="https://www.themoviedb.org/documentation/api">TMDb API</a> but is
    not endorsed or certified by <a href="https://www.themoviedb.org/">TMDb</a>.
  </p>
</div>
