<app-header></app-header>

<div class="root">
  <app-movies-suggestions (refetchWatchlist)="fetchWatchList()"> </app-movies-suggestions>
  <p class="section-title">
    Released and coming soon on DVD ({{ ((released$ | async)?.length || 0) + ((coming$ | async)?.length || 0) }})
  </p>
  <div class="section">
    <div class="container">
      <div class="movies-container">
        <ng-container *ngIf="released$ | async as releasedMovies">
          <app-movie-card *ngFor="let movie of releasedMovies" [movie]="movie" (refetchWatchlist)="fetchWatchList()">
          </app-movie-card>
        </ng-container>
      </div>
      <div class="movies-container">
        <ng-container *ngIf="coming$ | async as comingMovies" class="coming">
          <app-movie-card *ngFor="let movie of comingMovies" [movie]="movie" (refetchWatchlist)="fetchWatchList()">
          </app-movie-card>
        </ng-container>
      </div>
    </div>
    <tui-loader *ngIf="(released$ | async) === null || (coming$ | async) === null" size="xxl">
    </tui-loader>
  </div>

  <p class="section-title">
    Unknown Release Date ({{ (unknown$ | async)?.length }})
  </p>
  <div class="section">
    <ng-container *ngIf="unknown$ | async as unknownMovies">
      <app-movie-card *ngFor="let movie of unknownMovies" [movie]="movie" (refetchWatchlist)="fetchWatchList()">
      </app-movie-card>
    </ng-container>
    <tui-loader *ngIf="(unknown$ | async) === null" size="xxl"></tui-loader>
  </div>
  <p class="footer">
    <a href="https://www.themoviedb.org">
      <img src="assets/tmdb.png" alt="Powered by TMDb" />
    </a>
    <br />
    This product uses the
    <a href="https://www.themoviedb.org/documentation/api">TMDb API</a> but is
    not endorsed or certified by <a href="https://www.themoviedb.org/">TMDb</a>.
  </p>
</div>